.main-card {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.card {
  background-color: white;
  padding: 30px;
  max-width: 28rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  width: 370px;
  height: 26px;
  padding: 0px 5px;
  font-size: 15px;
}

select {
  height: 32px;
  padding: 0px 5px;
  font-size: 15px;
}

button {
  background-color: rgb(67 56 202);
  color: white;
  height: 40px;
  padding: 0px 24px;
  border-radius: 12px;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links > * {
  margin-left: 20px;
}

.main {
  margin-top: 50px;
  font-size: 30px;
  min-height: 300px;
  display: flex;
  justify-content: center;
}
